.footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: flex-end;
   background-color: rgb(223, 223, 223);
   margin: auto; 
   position: relative;
   height: 30px;
   //background-color: black;
   .main-menu {
      position: absolute;
      right: 5px;
      font-size: 12px;
      line-height: 30px;
      margin: auto;
      li {
         color: black;
         a {
            color: black;
         }
         a.active {
            border-bottom: 2px solid black;
         }
      }
   }
}