.body {
  background: #555555;
}
.cart {
  position: relative;
  display: flex;
  flex-direction: column;

  .cart-summary {
    position: relative;
    display: flex;
    justify-content: end;
    .payment-container {
      position: sticky;
      top: 80px;
      right: 0;
      border: 1px solid;
      width: 30%;
      height: 200px;
      padding: 10px;
      border: 1px solid black;
      margin: 5px 0;

      .subtotal {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
